body {
  text-align: center;
  background-color: rgb(168, 194, 203);
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  
}

.invisible {
  color: black;
}

.container-intro { 
  grid-area : header;
  color: white;
  font-size: xx-large;
  background-color: black;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: white; }
  25% { color: green; }
  50% { color: yellow; }
  75% { color: red; }
  100% { color: violet; }
}

.container-left { 
  grid-area : left; }

.container-form { 
  grid-area : form; }
  
.container-right { 
  grid-area : right; }



.container{
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'left left form form right right';
  gap: 10px;
  padding: 10px;
}

.container > div {
  text-align: center;
  padding: 20px;
}

#results {
  font-weight: 600;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#news-headline {
  width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 30s linear infinite;
  
}

#news-headline:hover {
  animation-play-state: paused;
}

footer {
  font-size: xx-large;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: gray;
}

@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}

