body {
  text-align: center;
  background-color: lightblue;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  
}

.container{
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'left'
  ;
}

#results {
  font-weight: 600;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#news-headline {
  width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;
}

#news-headline:hover {
  animation-play-state: paused;
}

footer {
  font-size: xx-large;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: gray;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

